<!DOCTYPE html>
<!-- saved from url=(0021)https://localhost:1000/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
<!--    <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">-->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="/css/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/typhoon.css" rel="stylesheet">
    <link id="clayCSSTheme" rel="stylesheet" href="/css/atlas.css"> 
    <link href="/css/css2" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    
    <link rel="stylesheet" href="/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="">
    <link rel="apple-touch-icon" sizes="57x57" href="https://localhost:1000/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://localhost:1000/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://localhost:1000/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://localhost:1000/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://localhost:1000/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://localhost:1000/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://localhost:1000/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://localhost:1000/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://localhost:1000/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://localhost:1000/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://localhost:1000/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://localhost:1000/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://localhost:1000/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://localhost:1000/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">


    <title>Typhoon Track Prediction</title>
    <style type="text/css">.scene-container .clickable {
  cursor: pointer;
}</style>

<style type="text/css">.scene-nav-info {
  bottom: 5px;
  width: 100%;
  text-align: center;
  color: slategrey;
  opacity: 0.7;
  font-size: 10px;
}

.scene-tooltip {
  color: lavender;
  font-size: 15px;
}

.scene-nav-info, .scene-tooltip {
  position: absolute;
  font-family: sans-serif;
  pointer-events: none;
}

.scene-container canvas:focus {
  outline: none;
}

.modal-xcoord {
   position: absolute;
   top: 10px;
   right: 10px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

.modal-ycoord {
   position: absolute;
   top: 10px;
   right: 80px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

#typhoon-menu {color:yellow;}

    .modal-header .btnGrp{
      position: absolute;
      top: 8px;
      right: 10px;
    } 
 

    .min{
        width: 250px; 
        height: 35px;
        overflow: hidden !important;
        padding: 0px !important;
        margin: 0px;    

        float: left;  
        position: static !important; 
      }

    .min .modal-dialog, .min .modal-content{
        height: 100%;
        width: 100%;
        margin: 0px !important;
        padding: 0px !important; 
      }

    .min .modal-header{
        height: 100%;
        width: 100%;
        margin: 0px !important;
        padding: 3px 5px !important; 
      }

    .display-none{display: none;}

    button .fa{
        font-size: 16px;
        margin-left: 10px;
      }

    .min .fa{
        font-size: 14px; 
      }

    .min .menuTab{display: none;}

    button:focus { outline: none; }

    .minmaxCon{
      height: 35px;
      bottom: 5px;
      left: 50%;
      position: fixed;
      right: 1px;
      z-index: 999;
    }

    .modal .modal-body {    
    overflow-y: auto;
    max-height: 800px;
    }

    #targetElement {
    height: 200px;
    margin: 50px;
    background: #9cf;
    }
    .positionDiv {
      position: absolute;
      width: 75px;
      height: 75px;
      background: #080;
    }
</style>

</head>
<body style="background-color: #111;" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" data-new-gr-c-s-check-loaded="14.1042.0" data-gr-ext-installed="">
<div id="loader" style="background: rgba(0, 0, 0, 0.75) !important; display: none;">
  <div class="text-center">
      <div class="loadingio-spinner-rolling-2wu6yuhm6pk">
          <div class="ldio-xcl606454at">
              <div></div>
          </div>
      </div>
  </div>
</div>   

<div id="globeViz"><div style="position: relative;"><div><div class="scene-container" style="position: relative;"><div class="scene-nav-info" style="display: none;">Left-click: rotate, Mouse-wheel/middle-click: zoom, Right-click: pan</div><div class="scene-tooltip" style="top: 604.2px; left: 332px; transform: translate(-19.8922%, 21px);"></div><canvas width="1669" height="969" style="display: block; touch-action: none; width: 1669px; height: 969px;" class=""></canvas></div></div></div></div> 
<div style="position: absolute;left: 3em;z-index: 999;display: block;top:2em;">
    <div class="d-flex">
        <div class="my-auto" style="z-index: 2;">
        <img src="/js/logo.png" class="img-fluid my-auto logo" style="size: 300%">
        <br>
        <img src="/img/logo-d-soc.svg" height="200%" class="img-fluid my-auto logo" style="background-color: #FFFFFF">

        </div>
    </div>

</div>

<div style="position: absolute;left: 3em;z-index: 999;display: block;bottom:2em;">

    <!--
    <div id="typhoon-container1" class="my-1">
        <div class="variant-toggle float-start">  
            <input type="checkbox" id="current-toggle" name="current-typhoon-check" onclick="addCurrentTyphoon();"> 
            <label for="current-toggle" class="my-1 text-white fw-bold"></label> 
            <span class="toggle-switch-handle" data-label-off="Product Menu Closed" data-label-on="Product Menu Open"></span>
        </div>
        <div class="clearfix"></div>
    </div> <span>&nbsp&nbsp&nbsp Current Typhoon</span>
    <div id="typhoon-container2" class="my-1">
        <div class="variant-toggle float-start">  
            <input type="checkbox" id="busan-toggle" name="dir-busan-typhoon-check" onclick="addBusanDirectTyphoon();">
            <label for="busan-toggle" class="my-1 text-white fw-bold"></label> 
        </div>
        <div class="clearfix"></div>
    </div> &nbsp&nbsp&nbsp Typhoon directly impacting Busan
    -->

    <div class="form-group">
      <label class="toggle-switch"><span id="typhoon-menu">LAST TYPHOON TO BUSAN</span> <br>
        <input class="toggle-switch-check" type="checkbox" name="current-typhoon-check" onclick="addCurrentTyphoon();"/>
        <!--<span class="toggle-switch-label">Toggle Switch with data-label on and data-label-off</span> -->
        <span aria-hidden="true" class="toggle-switch-bar">
          <span class="toggle-switch-handle" data-label-off="Point off" data-label-on="Point On">
            <span class="button-icon button-icon-on toggle-switch-icon">
              <svg class="lexicon-icon lexicon-icon-product-menu-open" focusable="false" role="presentation">
                <use href="/images/icons/icons.svg#product-menu-open" />
              </svg>
            </span>
            <span class="button-icon button-icon-off toggle-switch-icon">
              <svg class="lexicon-icon lexicon-icon-product-menu-closed" focusable="false" role="presentation">
                <use href="/images/icons/icons.svg#product-menu-closed" />
              </svg>
            </span>
          </span>
        </span>
      </label>
      <label class="toggle-switch">
        <input class="toggle-switch-check" type="checkbox" name="current-typhoon-line-check" onclick="addCurrentTyphoonLine();"/>
        <!--<span class="toggle-switch-label">Toggle Switch with data-label on and data-label-off</span> -->
        <span aria-hidden="true" class="toggle-switch-bar">
          <span class="toggle-switch-handle" data-label-off="Line Off" data-label-on="Line On">
            <span class="button-icon button-icon-on toggle-switch-icon">
              <svg class="lexicon-icon lexicon-icon-product-menu-open" focusable="false" role="presentation">
                <use href="/images/icons/icons.svg#product-menu-open" />
              </svg>
            </span>
            <span class="button-icon button-icon-off toggle-switch-icon">
              <svg class="lexicon-icon lexicon-icon-product-menu-closed" focusable="false" role="presentation">
                <use href="/images/icons/icons.svg#product-menu-closed" />
              </svg>
            </span>
          </span>
        </span>
      </label>
      <br>
      <label class="toggle-switch"> <span id="typhoon-menu">BUSAN DIRECT TYPHOON</span><br>
        <input class="toggle-switch-check" type="checkbox" name="dir-busan-typhoon-check" onclick="addBusanDirectTyphoon();"/>
        <!--<span class="toggle-switch-label">Toggle Switch with data-label on and data-label-off</span> -->
        <span aria-hidden="true" class="toggle-switch-bar">
          <span class="toggle-switch-handle" data-label-off="Point Off" data-label-on="Point On">
            <span class="button-icon button-icon-on toggle-switch-icon">
              <svg class="lexicon-icon lexicon-icon-product-menu-open" focusable="false" role="presentation">
                <use href="/images/icons/icons.svg#product-menu-open" />
              </svg>
            </span>
            <span class="button-icon button-icon-off toggle-switch-icon">
              <svg class="lexicon-icon lexicon-icon-product-menu-closed" focusable="false" role="presentation">
                <use href="/images/icons/icons.svg#product-menu-closed" />
              </svg>
            </span>
          </span>
        </span>
      </label>
      <label class="toggle-switch">
        <input class="toggle-switch-check" type="checkbox" name="dir-typhoon-line-check" onclick="addBusanDirectTyphoonLine();"/>
        <!--<span class="toggle-switch-label">Toggle Switch with data-label on and data-label-off</span> -->
        <span aria-hidden="true" class="toggle-switch-bar">
          <span class="toggle-switch-handle" data-label-off=" Line Off" data-label-on="Line On">
            <span class="button-icon button-icon-on toggle-switch-icon">
              <svg class="lexicon-icon lexicon-icon-product-menu-open" focusable="false" role="presentation">
                <use href="/images/icons/icons.svg#product-menu-open" />
              </svg>
            </span>
            <span class="button-icon button-icon-off toggle-switch-icon">
              <svg class="lexicon-icon lexicon-icon-product-menu-closed" focusable="false" role="presentation">
                <use href="/images/icons/icons.svg#product-menu-closed" />
              </svg>
            </span>
          </span>
        </span>
      </label>
      <br>
      <label class="toggle-switch"><span id="typhoon-menu"> ALL BUSAN TYPHOON</span><br>
        <input class="toggle-switch-check" type="checkbox" name="indir-busan-typhoon-check" onclick="addBusanIndirectTyphoon();"/>
        <!--<span class="toggle-switch-label">Toggle Switch with data-label on and data-label-off</span> -->
        <span aria-hidden="true" class="toggle-switch-bar">
          <span class="toggle-switch-handle" data-label-off="Point Off" data-label-on="Point On">
            <span class="button-icon button-icon-on toggle-switch-icon">
              <svg class="lexicon-icon lexicon-icon-product-menu-open" focusable="false" role="presentation">
                <use href="/images/icons/icons.svg#product-menu-open" />
              </svg>
            </span>
            <span class="button-icon button-icon-off toggle-switch-icon">
              <svg class="lexicon-icon lexicon-icon-product-menu-closed" focusable="false" role="presentation">
                <use href="/images/icons/icons.svg#product-menu-closed" />
              </svg>
            </span>
          </span>
        </span>
      </label>
      <label class="toggle-switch">
        <input class="toggle-switch-check" type="checkbox" name="indir-typhoon-line-check" onclick="addBusanIndirectTyphoonLine();"/>
        <!--<span class="toggle-switch-label">Toggle Switch with data-label on and data-label-off</span> -->
        <span aria-hidden="true" class="toggle-switch-bar">
          <span class="toggle-switch-handle" data-label-off=" Line Off" data-label-on="Line On">
            <span class="button-icon button-icon-on toggle-switch-icon">
              <svg class="lexicon-icon lexicon-icon-product-menu-open" focusable="false" role="presentation">
                <use href="/images/icons/icons.svg#product-menu-open" />
              </svg>
            </span>
            <span class="button-icon button-icon-off toggle-switch-icon">
              <svg class="lexicon-icon lexicon-icon-product-menu-closed" focusable="false" role="presentation">
                <use href="/images/icons/icons.svg#product-menu-closed" />
              </svg>
            </span>
          </span>
        </span>
      </label>
    </div>

</div>

<div style="position: absolute;right: 2em;top:3.25em;z-index: 999;display: block;">
    <div id="map-top-left" class="m-0 mt-1 d-flex flex-column">
        <div class="autocomplete w-100 mb-1" style="min-width: 150px;">
            <input id="myInput" class="form-control form-control-sm font-small text-end rounded-0" type="text" placeholder="Searching for typhoon" onfocus="this.value=&#39;&#39;" name="location" autocomplete="off" style="background-color: rgba(255,255,255,.2);color:white;border:1px solid rgba(255,255,255,.1);">
        </div>
        <div class="d-flex justify-content-end">
            <button class="button-menu pe-1 ps-4 py-1 my-1 shadow bg-red button-active" style="position:relative;border:none;clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 0 50%);" onclick="CurTrackPrediction();">
                <p class="my-auto pe-1 text-white fw-bold font-small text-end text-uppercase" style="border-right: 3px solid rgba(255, 255, 255,1);">Current Prediction</p>
            </button>
        </div>
        <div class="d-flex justify-content-end">
            <button class="button-menu pe-1 ps-4 py-1 my-1 shadow bg-yellow" style="border:none;clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 0 50%);" onclick="TrackSimulation();">
                <p class="my-auto pe-1 text-dark fw-bold font-small text-end text-uppercase" style="border-right: 3px solid rgba(255, 255, 255 ,1);">Track Prediction Simulation</p>
            </button>
        </div>
        <div class="d-flex justify-content-end">
            <button class="button-menu pe-1 ps-4 py-1 my-1 shadow bg-green" style="border:none;clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 0 50%);" onclick="WavePrediction();">
                <p class="my-auto pe-1 text-white fw-bold font-small text-end text-uppercase" style="border-right: 3px solid rgba(255, 255, 255,1);">Busan Typhoon Genesis</p>
            </button>
        </div>
        <div class="d-flex justify-content-end">
            <button class="button-menu pe-1 ps-4 py-1 my-1 shadow bg-brown" style="border:none;clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 0 50%);" onclick="location.href = '/weather';">
                <p class="my-auto pe-1 text-white fw-bold font-small text-end text-uppercase" style="border-right: 3px solid rgba(255, 255, 255,1);">Atmospheric Condition</p>
            </button>
        </div>
        <div class="d-flex justify-content-end">
            <button class="button-menu pe-1 ps-4 py-1 my-1 shadow bg-dark-blue" style="border:none;clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 0 50%);" onclick="location.href = '/typhoon3d';">
                <p class="my-auto pe-1 text-white fw-bold font-small text-end text-uppercase" style="border-right: 3px solid rgba(255, 255, 255,1);">Typhoon formation and Intensity</p>
            </button>
        </div>
    </div>
</div>

<div style="position: absolute;right: 2em;bottom:1em;z-index: 999;display: block;">
    <button type="button" class="button-zoom d-flex text-center justify-content-center fw-bold text-white align-items-center" onclick="zoomIn()">+</button>
    <button type="button" class="button-zoom d-flex text-center justify-content-center fw-bold text-white align-items-center mt-1" onclick="zoomOut()">-</button>
</div>


<div class="modal fade" id="curprediction-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color:rgba(0,0,0,.75);">
            <div class="modal-header">
                <div class="d-flex" style="opacity: 0.8;">
                    <h1 id="country-name-modal" class="ms-2 my-auto text-uppercase text-white">Typhoon Track Prediction</h1>
                </div>  
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-0">
              <div class="container-fluid">
                  <div class="row mx-0">
                      <div class="col mx-0">
                          <div class="my-1 text-white">
                              <div class="d-flex justify-content-between my-1">
                                  <div class="d-flex">
                                      <h6 class="my-auto">Currently, there is no typhoon potential impacting Busan.</h6>
                                  </div>
                                  <h6 class="my-auto text-right index-value">-</h6>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
  </div>
</div>

<div class="modal fade" id="infoTyphoon-modal" tabindex="-1" aria-hidden="true">
  <div id="modal-position" class="modal-dialog modal-lg" style="width:300px;height:300px">
        <div class="modal-content" style="background-color:rgba(0,0,0,.75);">
            <div class="modal-header">
                <div class="d-flex" style="opacity: 0.8;">
                    <h1 id="typhoonname-modal" class="ms-2 my-auto text-uppercase text-white"></h1>
                </div>  
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-0">
              <div class="container-fluid">
                  <div class="row mx-0">
                      <div class="col mx-0">
                          <div class="my-1 text-white">
                              <div class="d-flex justify-content-between my-1">
                                  <div class="d-flex" id='typhoon-info-content'>
                                      
                                  </div>
                                  <h6 class="my-auto text-right index-value">-</h6>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
  </div>
</div>

<div onmouseout="clearinfoTyphoon(event)"></div>

<div class="modal fade" id="option-simulation-modal" tabindex="-1" aria-hidden="true">
  <div class="typhoon-modal modal-dialog modal-lg">
        <div class="modal-content" style="background-color:rgba(0,0,0,.75);">
            <div class="modal-header">
                <div class="d-flex" style="opacity: 0.8;">
                    <h1 id="country-name-modal" class="ms-2 my-auto text-uppercase text-white">Choose the sample:</h1>
                </div>  
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-0">
              <div class="container-fluid">
                  <div class="row mx-0">
                      <div class="col mx-0">
                          <div class="my-1 text-white">
                              <div class="d-flex justify-content-between my-1">
                                  <div class="d-flex" id='sampleoption'>
                                      <!--
                                      <div class="radio-typhoon">
                                          <ul>
                                          <li>
                                            <input type="radio" id="f-option" name="typhoon-selector" value="Megi_2004">
                                            <label for="f-option">Megi_2004</label>
                                            <div class="check"></div>
                                          </li>
                                          <li>
                                            <input type="radio" id="s-option" name="typhoon-selector" value="Jangmi_2020">
                                            <label for="s-option">Jangmi_2020</label>
                                            <div class="check"><div class="inside"></div></div>
                                          </li>
                                          <li>
                                            <input type="radio" id="t-option" name="typhoon-selector" value="Dianmu_2010">
                                            <label for="t-option">Dianmu_2010</label> 
                                            <div class="check"><div class="inside"></div></div>
                                          </li>
                                          <li>
                                            <input type="radio" id="k-option" name="typhoon-selector" value="Omais_2021">
                                            <label for="k-option">Omais_2021</label> 
                                            <div class="check"><div class="inside"></div></div>
                                          </li>
                                        </ul>
                                    </div>-->

                                  </div>
                                  <div class="d-flex justify-content-end">
                                    <button class="button-menu shadow bg-yellow" style="border:none;clip-path: polygon(0 0,85% 0,100% 50%,85% 100%,0 100%,15% 50%);" onclick="ProcessSimulation();">
                                        <p class="my-auto pe-1 text-dark fw-bold font-big text-end text-uppercase" style="border-right: 3px solid rgba(255, 255, 255 ,1);">See <br>the result</p>
                                    </button>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
  </div>
</div>

<div class="modal fade mymodal " id="detailModal" role="dialog" >
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color:rgba(0,0,0,.75);">
            <div class="modal-header" style="padding:35px 50px;">
                
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                &nbsp<button class="btn modalMinimize bg-yellow" type="button" data-toggle="collapse" data-target="#detailModal" aria-expanded="false" aria-controls="collapseExample"><font style="color: yellow; ">__</font></button>
                
                <!--
                <button type="button" class="close btn-close btn-close-white" data-dismiss="modal"></button>   
                <button class="btn modalMinimize" type="button" data-toggle="collapse" data-target="#detailModal" aria-expanded="false" aria-controls="collapseExample"><font style="color: red">__</font></button>
                -->

                <div class="d-flex" style="opacity: 0.8;">
                    <h1 id="typhoon-name-modal" class="ms-2 my-auto text-uppercase text-white"></h1>
                </div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                <button class="button-menu shadow bg-yellow" style="border:none;clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);" onclick="seeTrackonMap();">
                    <p class="my-auto pe-1 text-dark fw-bold font-big text-end text-uppercase" style="border-right: 3px solid rgba(255, 255, 255 ,1); text-align: left;">See it on the map</p>
                </button> 
            </div>
            <div class="modal-body px-0" >
                <div id= "detail-content" class="container-fluid" >
                    <div class="row mx-0">
                        <div class="col mx-0">
                            <div class="my-1 text-white">
                                <div class="d-flex justify-content-between my-1">
                                    <div class="d-flex">
                                        <h6 class="my-auto">Detail Result of prediction</h6>
                                    </div>
                                </div>
                                <div class="progress" style="width:100%;background-color: rgba(255,255,255,0.25);height: 5px;box-shadow: 0px 0px 5px rgba(255,255,255,0.25);">
                                    <div class="progress-bar bg-red" style="width:100%;"></div>
                                </div>
                            </div>
                        </div>
                    <div class="d-flex">
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="my-2">
                                <h6 class="mb-4 text-uppercase text-center text-white fw-bold">Predicted Class of <font style="color: #74f05b">Zonal </font> Component</h6>
                                <div id="chart-class-zonal" class="mx-auto" style="width:400px;height: 300px;"></div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="my-2">
                                <h6 class="mb-4 text-uppercase text-center text-white fw-bold">Ensemble of <font style="color: #74f05b">Zonal</font> Component</h6>
                                <div id="chart-ens-zonal" class="mx-auto" style="width:600px;height: 400px;"></div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-5">
                            <div class="my-2">
                                <h6 class="mb-4 text-uppercase text-center text-white fw-bold">Predicted Class of <font style="color: yellow">Meridional</font> Component</h6>
                                <div id="chart-class-meridional" class="mx-auto" style="width:400px;height: 300px;"></div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="my-2">
                                <h6 class="mb-4 text-uppercase text-center text-white fw-bold">Ensemble of <font style="color: yellow">Meridional</font> Component</h6>
                                <div id="chart-ens-meridional" class="mx-auto" style="width:600px;height: 400px;"></div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row justify-content-center">
                          <div class="col-auto">
                              <h6 class="mb-4 text-uppercase text-white fw-bold">Distance Error</h6>
                              <div id="typtable" style="width:500px;height: 125px;"></div>
                          </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>     
<div class="container">
<div class="minmaxCon">****</div>


<script src="/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="/js/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="/js/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
<script src="/js/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="/js/highstock.js"></script>
<script src="/js/highcharts-3d.js"></script>
<script src="/js/highcharts-more.js"></script>
<script src="/js/solid-gauge.js"></script>
<script src="/js/exporting.js"></script>
<script src="/js/accessibility.js"></script>
<script src="/js/feather.js"></script>
<script src="/js/d3"></script>
<script src="/js/globe.gl"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/d3"></script>
<script src="https://cdn.jsdelivr.net/npm/topojson-client"></script>
<script src="https://cdn.jsdelivr.net/npm/polished@3.5.2/dist/polished.min.js"></script>
<script type="text/javascript" src="/js/geojson.min.js"></script>
<script type="text/javascript">
var flagsUrl = 'localhost:1000/';

<%- include ('data'); %>

</script>    
<script src="/js/chroma.min.js"></script>
<script src="/js/dashboard2.js"></script>

</body>
</html>