<div class="modal fade" id="curprediction-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color:rgba(0,0,0,.75);">
            <div class="modal-header">
                <div class="d-flex" style="opacity: 0.8;">
                    <h1 id="country-name-modal" class="ms-2 my-auto text-uppercase text-white">Typhoon Track Prediction</h1>
                </div>  
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-0">
              <div class="container-fluid">
                  <div class="row mx-0"><p></p>
                      <div class="col mx-0">
                          <div class="my-1 text-white">
                              <div class="d-flex justify-content-between my-1">
                                  <div class="d-flex">
                                      <h6 class="my-auto">Currently, there is no typhoon potential impacting Busan.</h6>
                                  </div>
                                  <h6 class="my-auto text-right index-value">-</h6>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
  </div>
</div>

<div class="modal fade" id="infoTyphoon-modal" tabindex="-1" aria-hidden="true">
  <div id="modal-position" class="modal-dialog modal-lg" style="width:300px;height:300px">
        <div class="modal-content" style="background-color:rgba(0,0,0,.75);">
            <div class="modal-header">
                <div class="d-flex" style="opacity: 0.8;">
                    <h1 id="typhoonname-modal" class="ms-2 my-auto text-uppercase text-white"></h1>
                </div>  
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-0">
              <div class="container-fluid">
                  <div class="row mx-0">
                      <div class="col mx-0">
                          <div class="my-1 text-white">
                              <div class="d-flex justify-content-between my-1">
                                  <div class="d-flex" id='typhoon-info-content'>
                                      
                                  </div>
                                  <h6 class="my-auto text-right index-value">-</h6>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
  </div>
</div>

<div onmouseout="clearinfoTyphoon(event)"></div>

<div class="modal fade " id="option-simulation-modal" tabindex="-1" aria-hidden="true">
  <div class="typhoon-modal modal-dialog">
        <div class="modal-content" style="background-color:rgba(255, 255, 255, 0.71);">
            <div class="modal-header">
                <div class="d-flex" style="opacity: 0.8;">
                    <h1 id="country-name-modal" class="ms-2 my-auto text-uppercase text-black">Choose the typhoon sample:</h1>
                </div>  
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-0">
              <div class="container-fluid">
                  <div class="row mx-0">
                      <div class="col mx-0">
                          <div class="my-1 text-white">
                                  <div id='sampleoption'>
                                  </div>
                                  <br>
                                    <button style="position: absolute; right: 10px;" class="button-menu shadow bg-yellow text-right" onclick="ProcessSimulation();"> See the result
                                        <!--<p class="my-auto pe-1 text-dark fw-bold font-big text-end text-uppercase" style="border-right: 3px solid rgba(255, 255, 255,1);">See <br>the result</p> -->
                                    </button>
                              
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
  </div>
</div>

<div class="modal fade mymodal " id="detailModal" role="dialog" >
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color:rgba(255, 255, 255, 0.71);">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                &nbsp<button class="btn modalMinimize bg-yellow" type="button" data-toggle="collapse" data-target="#detailModal" aria-expanded="false" aria-controls="collapseExample"><font style="color: yellow; ">__</font></button>
                
                <!--
                <button type="button" class="close btn-close btn-close-white" data-dismiss="modal"></button>   
                <button class="btn modalMinimize" type="button" data-toggle="collapse" data-target="#detailModal" aria-expanded="false" aria-controls="collapseExample"><font style="color: red">__</font></button>
                -->

                <div class="d-flex" style="opacity: 0.8;">
                    <h1 id="typhoon-name-modal" class="ms-2 my-auto text-uppercase text-white"></h1>
                </div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                <button class="button-menu shadow bg-yellow" style="border:none;clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);" onclick="seeTrackonMap();">
                    <p class="my-auto pe-1 text-dark fw-bold font-big text-end text-uppercase" style="border-right: 3px solid rgba(255, 255, 255 ,1); text-align: left;">See it on the map</p>
                </button> 
            </div>
            <div class="modal-body px-0" >
                <div id= "detail-content" class="container-fluid" >
                    <div class="row mx-0">
                        <div class="col mx-0">
                            <div class="my-1 text-white">
                                <div class="d-flex justify-content-between my-1">
                                    <div class="d-flex">
                                        <h6 class="my-auto text-uppercase"><font style="color: #000000">Detail Result of prediction</font></h6>
                                    </div>
                                </div>
                                <div class="progress" style="width:100%;background-color: rgba(255,255,255,0.25);height: 5px;box-shadow: 0px 0px 5px rgba(255,255,255,0.25);">
                                    <div class="progress-bar bg-red" style="width:100%;"></div>
                                </div>
                            </div>
                        </div>
                    <div class="d-flex">
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="my-2">
                                <h6 class="mb-4 text-center text-black fw-bold">Similarity Tendency of Current Typhoon to Past Typhoon <br><font style="color: #0010f5">Zonal </font> Component</h6>
                                <div id="chart-class-zonal" class="mx-auto" style="width:400px;height: 300px;"></div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="my-2">
                                <h6 class="mb-4 text-center text-black fw-bold">Ensemble of <font style="color: #006b14">Zonal</font> Component</h6>
                                <div id="chart-ens-zonal" class="mx-auto" style="width:600px;height: 400px;"></div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-5">
                            <div class="my-2">
                                <h6 class="mb-4 text-center text-black fw-bold">Similarity Tendency of Current Typhoon to Past Typhoon <br> <font style="color: #0010f5">Meridional</font> Component</h6>
                                <div id="chart-class-meridional" class="mx-auto" style="width:400px;height: 300px;"></div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="my-2">
                                <h6 class="mb-4 text-center text-black fw-bold">Ensemble of <font style="color: #006b14">Meridional</font> Component</h6>
                                <div id="chart-ens-meridional" class="mx-auto" style="width:600px;height: 400px;"></div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="d-flex">
                    </div>
                    <div class="row justify-content-center">
                          <div class="col-auto">
                              <h6 class="mb-4 text-uppercase text-white fw-bold">Distance Error</h6>
                              <div id="typtable" style="width:500px;height: 125px;"></div>
                          </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div> 